<div class="container d-flex justify-content-center mt-3">
  <h1>Create your lists of movies</h1>
</div>

<%# <%= cl_image_tag("xsmaz6qigljxt5kzmofk",
      width: 400, height: 300, crop: :fill) %>

<div class="container">
  <div class="row g-3">
    <% @lists.each do |list| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-list">
        <%= cl_image_tag list.photo.key, class: "card-img-top", crop: :fill %>
        <div class="card-list-infos">
          <%= link_to list.name, list_path(list.id), class: "card-title" %>
          <%= link_to "", list_path(list.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "far fa-trash-alt" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
