.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fas {
  color: black;
  size: 16px;
}

.nav-link {
  color: black;
  font-size: 16px;
  text-decoration-color: black;
}

.nav-link:hover {
  color: gray;
}

.fas:hover {
  color: gray;
}
